node_modules
npm-debug.log
.env
.env.local
.env.*.local
*.log
.DS_Store
.git
.gitignore
.cache
.next
.nuxt
dist
build
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
